<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value=".\..\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="azure-ccm-pricing-Consumption" value="https://msazure.pkgs.visualstudio.com/one/_packaging/azure-ccm-pricing-Consumption/nuget/v3/index.json" />
    <add key="acm-bpxp-Consumption" value="https://msazure.pkgs.visualstudio.com/One/_packaging/acm-bpxp-Consumption/nuget/v3/index.json" />
    <add key="ccp_ptt_availability" value="https://microsoft.pkgs.visualstudio.com/e8efa521-db8e-4531-9cd8-6923807c7e83/_packaging/ccp_ptt_availability/nuget/v3/index.json" />
  </packageSources>
</configuration>